<div class="container-fluid" style="padding: 0; margin: 0;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="/">
            <img src="/assets/images/logo.png" alt="logo"><span>Hoodwatch</span>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto main-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/all-hoods">HOOD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/market">MARKET</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posts">POSTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup"><button>Sign up</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login"><button>Log In</button></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
