<div class="container registration-form selectDisable">
    <img src="/assets/images/logo.png" alt="logo" class="center">
    <p>Login</p>
    <form class="form">

        <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" autocomplete="off" placeholder=" "
                required />
            <label for="email" class="label-email">
                <span class="content-email">Email</span>
            </label>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" name="password" id="password" autocomplete="off" placeholder=" "
                required />
            <label for="login-password" class="label-loginpassword">
                <span class="content-loginpassword">Password</span>
            </label>
        </div>

        <input type="submit" value="Log In">

        <p class="forgot-password"><a href="">Forgot password?</a></p>
    </form>
</div>
