<header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
    crossorigin="anonymous" />
</header>
<div class="container">
  <div class="ui segment">
    <form id="get-form" class="form" method="POST">
      <h4>Add your Post</h4>
      <div class="form-group">
        <textarea rows="4" [(ngModel)]="newPost.description" type="description" class="form-control" name="description"
          id="description" autocomplete="off" placeholder=" " required> </textarea>
        <label for="description" class="label-description">
          <span class="content-description">Post</span>
        </label>
      </div>
      <div class="form-group">
        <input [(ngModel)]="newPost.categories" type="text" class="form-control" name="categories" id="categories"
          autocomplete="off" placeholder=" " required />
        <label for="categories" class="label-categories">
          <span class="content-categories">categories</span>
        </label>
      </div>
      <div class="form-group">
        <input [(ngModel)]="newPost.post_image" type="file" class="form-control" name="post_image">
      </div>
      <button class="btn btn-sm btn-success" (click)='createPost()'>Post</button>
    </form>
  </div>
  <div class="ui grid responsive">
    <div *ngFor="let post of posts" class="eleven wide column">
      <div class="ui fluid card">
        <div class="content">
          <div class="right floated meta">
          </div>
          <img class="ui avatar image" src="../../../assets/images/avatar.jpeg"> Username
        </div>
        <div class="ui fluid">
          <h6><em>Category:{{post.categories}}</em> </h6> <br>
          <img src="{{post.post_image.slice(13)}}" alt="img" id="postic">
        </div>
        <div class="content">
          <p>{{post.description}}</p>
        </div>
        <div class="extra content">
          <div class="mb-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
  integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
  crossorigin="anonymous"></script>
