<div class="headr">
    <!-- <img src="../../../assets/images/supermarket.jpg" alt="hood"><br> <br> -->
    <div class="headings"><h3 class="animate__animated animate__fadeInDown ">Hood Market</h3>
        <h5>Your hoodwatch  Business Spots</h5>
        <a href="" class="animate__animated animate__fadeInUp btn-primary-outline"><button>SHOP NOW</button></a>
    </div>
  </div>

<div class="container">
    <div class="row">
        <div class="col-6 col-md-4"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
        <div class="col-md-8"><h4>Business Datails</h4><div class="text-info"><h5><i class="fa fa-map-marker" aria-hidden="false">location</i>&nbsp; &nbsp;<i class="fa fa-phone" aria-hidden="true">Tel</i></h5></div> <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores placeat ipsam nesciunt illo dolorem non impedit unde reprehenderit ad consectetur suscipit, minima harum nostrum. Perspiciatis, iusto. Sed accusantium tenetur non. Lorem ipsum dolor sit amet consectetur <p></div>
      </div> <hr>
      <div class="row">
        <div class="col-6 col-md-4"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
        <div class="col-md-8"><h4>Business Datails</h4><div class="text-info"><h5><i class="fa fa-map-marker" aria-hidden="false">location</i>&nbsp; &nbsp;<i class="fa fa-phone" aria-hidden="true">Tel</i></h5></div> <hr>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores placeat ipsam nesciunt illo dolorem non impedit unde reprehenderit ad consectetur suscipit, minima harum nostrum. Perspiciatis, iusto. Sed accusantium tenetur non. Lorem ipsum dolor sit amet consectetur <p></div>
      </div> <hr>
  <div class="row">
    <div class="col-6 col-md-4"> <img src="../../../assets/images/supermarket.jpg" alt=""></div>
    <div class="col-md-8"><h4>Business Datails</h4><div class="text-info"><h5><i class="fa fa-map-marker" aria-hidden="false">location</i>&nbsp; &nbsp;<i class="fa fa-phone" aria-hidden="true">Tel</i></h5></div> <hr>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores placeat ipsam nesciunt illo dolorem non impedit unde reprehenderit ad consectetur suscipit, minima harum nostrum. Perspiciatis, iusto. Sed accusantium tenetur non. Lorem ipsum dolor sit amet consectetur <p></div>
  </div> <hr>


